
@{
    ViewBag.Title = "Index";
}

<h2>Search</h2>

@Html.ActionLink("Search Songs", "DetailedSearch", "Search")
<br />
@Html.ActionLink("Search Albums", "AlbumDetailedSearch", "Search")
<br />
@Html.ActionLink("Search Artists", "ArtistDetailedSearch", "Search")